/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}
/* Pour empêcher ung bug de décalage du body quand un DropMenu s'ouvre */
html body[data-scroll-locked] {
  margin-right: 0 !important;
}

body {
  @apply bg-white text-black dark:bg-[#09090b] dark:text-white transition-colors;
}

hr {
  @apply dark:bg-[#6b6b6b];
  width: 600px;
  align-self: center;
}

img {  
   user-drag: none;  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.react-switch {
  vertical-align: middle;
}

.divAttachSend {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 426px) {
  .divAttachSend {
    flex-direction: column;
  }
}